html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#app {
    text-align: center;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    align-items: center;
    justify-content: center;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col1 {
    background-color: #acfb6a;
    max-width: 100%;
    padding: 10px 0;
    height: 100vh !important;
}

.col2 {
    background-color: #acfb6a;
    max-width: 100%;
    padding: 10px 0;
    height: 100vh !important;
    padding-top: 40px;
}

.col3 {
    background-color: #acfb6a;
    max-width: 100%;
    padding: 10px 0;
    height: 100vh !important;
}

h1 {
    color: #acfb6a;
}

.piece {
    padding-top: 30px;
}

.piece:hover {
    width: 70%;
    height: 70%;
    padding-top: 30px;
}

.piece:active {
    width: 75%;
    height: 75%;
    padding-top: 30px;
}

.clic {
    padding-top: 40px;
}

.list {
    max-height: 45vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list .col {
    margin: 10px;
}

.list .container .btn {
    float: left;
}

.list .btn {
    width: 100px;
}

.list .btn .item-button {
    display: flex;
    align-items: center;
    justify-items: center;
}

.list .btn .item-button .inner {
    width: 50%;
}

.list .btn img {
    width: 32px;
    height: 32px;
    float: left;
}

.list .btn p {
    margin: 10px 0;
}

.unitsItem {
    padding-bottom: 20px;
}

.unitsItem .imgUnitsItem {
    width: 64px;
    height: 64px;
    float: left;
}